body {
  margin: 0;
}

#welcome-section {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

#nav {
  background-color: white;
  position: sticky; top: 0;
}

#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  font-size: 1.5vw;
  margin-left: 5em;
  margin-right: 5em;
}

.row {
  display: flex;
}
.column-left {
  background-color: yellow;
  width: 60%;
  height: 100%;
}

.column-left h2 {
  text-align: center;
}

.column-right {
  background-color: red;
  width: 40%;
  height: 100%;
  text-align: center;
}

.column-right img {
  
  width: 60%;
  
}


#projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#social {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

li {
  list-style: none;  
}

a {
  text-decoration: none;
  color: black;
}

ul {
  justify-content: space-evenly;
  display: flex; 
  margin-top: -5vh;
  padding-bottom: 5vh;
  padding-top: 5vh; 
}

#linknav a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#linknav a:hover {
  color: grey;
}



.column-left img {
  height: 1.5em;
  vertical-align: middle;
}